* {
    box-sizing: border-box;
}

body {
    margin: 2rem;
    font-family: sans-serif;
}

:root {
    --color-primary: #55c57a;
    --color-primary-darker: #28b485;
    --color-primary-gradient: rgba(85,197,122, 0.3);
    --color-primary-gradient-darker: rgba(85,197,122, 0.6);
    --color-white: #fff;
    --color-grey-light-1: #faf9f9;
}